@use "variable"as v;
@use "common"as c;
@use "sass:math";
/*************************************************
header
*************************************************/
.head-message {
  background: rgb(244,183,31);
  background: linear-gradient(90deg, rgba(244,183,31,1) 0%, rgba(184,28,34,1) 100%);
  padding: .5rem 0;
  p {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }
}
header {
  padding-top: 1.3rem;
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    .logo {
      width: 42.5rem;
    }
    .search {
      height: 4rem;
      border-radius: 5px;
      border: 1px solid v.$sub-color01;
      overflow: hidden;
      input[type="text"] {
        width: 31.2rem;
        height: 4rem;
        font-size: 1.5rem;
        font-weight: 500;
        padding: .8rem 1.8rem;
        background-color: rgba($color: #fff, $alpha: .5);
      }
      input[type="image"] {
        width: 4rem;
        aspect-ratio: 1/1;
        background-color: v.$main-txt;
      }
    }
    .colum03 {
      display: flex;
      align-items: center;
      gap: 4rem;
      ul {
        display: flex;
        gap: 1.6rem;
        li {
          a {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            img {
              height: 2.7rem;
            }
          }
        }
      }
      .lang-btn {
        background-color: v.$main-txt;
        color: #fff;
        padding: 2rem 1rem;
      }
    }
  }
  .header-bottom {
    padding-bottom: 2.7rem;
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          width: calc(100%/ 6);
          border-right: 1px solid v.$main-txt;
          a {
            display: flex;
            justify-content: center;
            font-weight: 600;
            padding: .5rem 0;
            transition: all .3s;
            &:hover {
              color: v.$sub-color03;
            }
          }
        }
      }
    }
  }
}