@use "variable"as v;
@use "common"as c;
@use "sass:math";
/*************************************************
top
*************************************************/
.mv {
  position: relative;
  width: 100vw;
  aspect-ratio: 1/.37;
  margin-bottom: 5.4rem;
  margin-top: 22.4rem;
  @include c.mq() {
    margin-bottom: 4.4rem;
    margin-top: 17rem;
  }
  .swiper-slide {
    @include c.mq() {
      position: relative;
      aspect-ratio: 1/.48;
    }
    &::after {
      @include c.mq() {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($color: #3E0014, $alpha: .3);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .swiper-pagination {
    width: 20rem !important;
    bottom: 5rem !important;
    left: auto !important;
    right: v.pxtovw(100);
    @include c.mq() {
      width: v.pxtovw_sp(120) !important;
      bottom: 1.5rem !important;
      right: auto !important;
      left: 50% !important;
      transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
      width: 3rem;
      height: 2px;
      border: none;
      border-radius: 100vmax;
      background-color: rgba($color: #fff, $alpha: .5);
      @include c.mq() {
        width: 1.5rem;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
  h1 {
    position: absolute;
    top: v.pxtovw(229);
    left: v.pxtovw(99);
    font-size: 2.6rem;
    letter-spacing: 4px;
    line-height: 1.5;
    color: #fff;
    text-shadow: v.$shadow01;
    z-index: 1;
    @include c.mq() {
      left: v.pxtovw_sp(20);
      font-size: min(v.pxtovw_sp(18), 3rem);
    }
  }
  .ahirai01,.ahirai02 {
    position: absolute;
    z-index: 1;
  }
  .ahirai01 {
    top: v.pxtovw(40);
    left: v.pxtovw(40);
    width: 27.2rem;
    @include c.mq() {
      top: v.pxtovw_sp(30);
      left: v.pxtovw_sp(-2);
      width: v.pxtovw_sp(134);
    }
  }
  .ahirai02 {
    bottom: v.pxtovw(84);
    right: v.pxtovw(50);
    width: 27.2rem;
    @include c.mq() {
      bottom: v.pxtovw_sp(22);
      right: v.pxtovw_sp(-43);
      width: v.pxtovw_sp(134);
    }
  }
}

.p-top {
  .top-message {
    position: relative;
    max-width: 78.7rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: v.$shadow02;
    padding: 4rem 0 3rem;
    margin: 3rem auto 15rem;
    @include c.mq() {
      max-width: 40rem;
      margin: 6rem auto 14rem;
    }
    .ashirai01,.ashirai02,.ashirai03,.ashirai04 {
      position: absolute;
      z-index: 1;
    }
    .ashirai01 {
      top: 4.3rem;
      left: -3.6rem;
      width: 14rem;
      @include c.mq() {
        top: 9rem;
        left: -1.6rem;
        width: 10.3rem;
      }
    }
    .ashirai02 {
      top: -3.1rem;
      right: -5.1rem;
      width: 14.4rem;
      @include c.mq() {
        top: -4rem;
        right: -2rem;
        width: 10.6rem;
      }
    }
    .ashirai03 {
      top: 2.1rem;
      left: 11.3rem;
      width: 5.1rem;
      @include c.mq() {
        top: 1.3rem;
        left: 1.2rem;
        width: 4.6rem;
      }
    }
    .ashirai04 {
      top: 7rem;
      right: 9.1rem;
      width: 2.6rem;
      @include c.mq() {
        top: 9.8rem;
        right: 1.9rem;
        width: 2.7rem;
      }
    }
    p {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      @include c.mq() {
        font-size: 1.8rem;
        line-height: 1.5;
      }
      span {
        font-size: 1.5rem;
        @include c.mq() {
          display: block;
          font-size: 1.3rem;
          margin-top: 2rem;
        }
      }
    }
  }
  
  .top-cate {
    .cate-list {
      gap: 1.3rem;
      margin-bottom: 8rem;
      @include c.mq() {
        flex-wrap: wrap;
        gap: 1rem;
        row-gap: 1.3rem;
        margin-bottom: 3rem;
      }
      .box {
        @include c.mq() {
          width: calc((100% / 2) - .5rem);
        }
        .img-box {
          margin-bottom: .7rem;
          @include c.mq() {
            aspect-ratio: 1/.41;
          }
        }
        p {
          font-size: 1.8rem;
          font-weight: 600;
          @include c.mq() {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  
  .top-search {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: v.$shadow02;
    padding: 3.7rem 11rem;
    margin-bottom: 6rem;
    @include c.mq() {
      padding: 1.8rem 1.3rem;
      margin-bottom: 2rem;
    }
    .flex {
      align-items: center;
      gap: 5.9rem;
      @include c.mq() {
        flex-direction: column;
        gap: 2.2rem;
      }
    }
    h3 {
      font-size: 1.7rem;
      @include c.mq() {
        font-size: 1.5rem;
      }
    }
    .search {
      height: 5rem;
      border-radius: 5px;
      border: 1px solid v.$sub-color01;
      overflow: hidden;
      @include c.mq() {
        height: 4rem;
      }
      input[type="text"] {
        width: 46.8rem;
        height: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        padding: .8rem 1.8rem;
        background-color: rgba($color: #fff, $alpha: .5);
        @include c.mq() {
          width: 26.5rem;
          height: 4rem;
          font-size: 1.4rem;
          padding: 1rem 1.6rem;
        }
      }
      input[type="image"] {
        width: 5rem;
        aspect-ratio: 1/1;
        background-color: v.$main-txt;
        @include c.mq() {
          width: 4rem;
        }
      }
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 12rem;
  }
}

.top-ranking {
  margin-bottom: 12rem;
  .head-ttl {
    margin-bottom: 9rem;
  }
  .ranking-list {
    gap: 1.6rem;
    @include c.mq(md) {
      row-gap: normal;
      column-gap: normal;
    }
    .box {
      width: calc((100% / 5) - (6.4rem / 5));
      position: relative;
      @include c.mq(md) {
        width: auto;
      }
      .img-box {
        margin-bottom: .8rem;
        aspect-ratio: 1/.79;
        background-color: #fff;
        img {
          object-fit: contain;
        }
      }
      &::before {
        position: absolute;
        top: -4.8rem;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 4.5rem;
        aspect-ratio: 1/.78;
      }
      &:first-of-type {
        &:before {
          background: url(images/rank01.svg) no-repeat center/contain;
        }
      }
      &:nth-of-type(2) {
        &:before {
          background: url(images/rank02.svg) no-repeat center/contain;
        }
      }
      &:nth-of-type(3) {
        &:before {
          background: url(images/rank03.svg) no-repeat center/contain;
        }
      }
      &:nth-of-type(4) {
        &:before {
          background: url(images/rank04.svg) no-repeat center/contain;
        }
      }
      &:nth-of-type(5) {
        &:before {
          background: url(images/rank05.svg) no-repeat center/contain;
        }
      }
    }
  }
}

.top-faq {
  margin-bottom: 12.4rem;
  @include c.mq() {
    margin-bottom: 4rem;
  }
  .head-ttl {
    margin-bottom: 4rem;
    @include c.mq() {
      margin-bottom: 2rem;
    }
  }
  .flex {
    justify-content: space-between;
    @include c.mq() {
      flex-direction: column;
      gap: 2rem;
    }
  }
  .btn02 {
    width: 29.4rem;
    aspect-ratio: 1/.31;
    flex-direction: column;
    gap: .4em;
    font-weight: 700;
    padding-top: 1rem;
    transition: all .3s;
    @include c.mq() {
      margin: 0 auto;
    }
    &::before {
      width: 30rem;
      aspect-ratio: 1/.33;
      position: absolute;
      top: -.3rem;
      left: -.3rem;
    }
    &::after {
      display: none;
    }
  }
}

.top-about {
  .img-box {
    margin-bottom: 2rem;
  }
  .btn-wrap {
    margin-bottom: 0;
  }
  .btn02 {
    width: 20.4rem;
    aspect-ratio: 1/.2;
    flex-direction: column;
    gap: .4em;
    font-weight: 700;
    padding-left: 1rem;
    transition: all .3s;
    &::before {
      width: 20.8rem;
      aspect-ratio: 1/.23;
      position: absolute;
    }
    &::after {
      left: 1.5rem;
    }
  }
}